<!-- <p> typicaly we have two type of components : <span >smart component whose main purpose is to consume the service</span> and <span> bump component whose main purpose is displayed data</span></p>

<h1> here,I'am a bump component : user-display</h1> -->

<!-- <ul >
    <li>{{user.name}}</li>
    <li>{{user.email}}</li>
</ul> -->
<div class="users">
    <mat-card class="user" *ngFor="let user of users">

        <mat-card-header>
            <mat-card-title>{{user.name}}</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
            <p>{{user.email}}</p>
        </mat-card-content>
    
    </mat-card>
</div>
